<ion-view view-title="Exercise Lookup" id="exerciselookup" hide-nav-bar="true">

    <div class="bar bar-header bar-positive">
        <button id="Back-Button" class="button button-outline button-energized" ng-click="$ionicGoBack()">Back</button>
        <h1 class="title">Exercise Lookup</h1>
    </div>

    <ion-content padding="true" class="has-header" ng-controller=ExerciseLookupCtrl>
      <ion-list>
        <ion-item>
            <label class="item item-input item-select">
             <div class="input-label">Type</div>
          <select ng-model="$parent.typeFilter" ng-change="filterExerciseList()">
            <option value="" selected>-</option>
            <option value="Strength">Strength</option>
            <option value="Bodyweight">Body Weight</option>
          </select>
        </label>
        </ion-item>
        <ion-item>
            <label class="item item-input item-select">
             <div class="input-label">Muscle</div>
          <select ng-model="$parent.muscleFilter" ng-change="filterExerciseList()">
            <option value="" selected>-</option>
            <option value="back">Back</option>
            <option value="chest">Chest</option>
          </select>
        </label>
        </ion-item>
      </ion-list>
        <form id="trainer-form1" class="list">

            <ion-list id="exercise-list">
                <ion-item ng-repeat = "exercise in exercise_list"
                    <h2> {{exercise.name}}</h2>
                    <p>{{exercise.description}}</p>
                </ion-item>
            </ion-list>

            <!--<div class="card">
                <div class="item item-text-wrap">
                    Exercise information
                </div>
                <div class="item item-text-wrap">
                    Exercise information
                </div>
                <div class="item item-text-wrap">
                    Exercise information
                </div>
                <div class="item item-text-wrap">
                    Exercise information
                </div>
            </div>-->




        </form>

       <!--<div class="exercise"> {{exercise_list}}!</div>-->
    </ion-content>
</ion-view>
