<ion-view title="FitnessTracker" id="login">
  <ion-content padding="true" class="has-header">
    <div class="login_menu" ng-controller=loginCtrl>
    <div class="spacer" style="width: 300px; height: 180px;"></div>
      <form id="login-form1" class="list">
        <ion-list id="login-list1">
          <label class="item item-input" id="login-input1">
            <span class="input-label">Username</span>
            <input type="text" placeholder="">
          </label>
          <label class="item item-input" id="login-input2">
            <span class="input-label">Password</span>
            <input type="password" placeholder="">
          </label>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 181px;"></div>
        <button id="login-button" class="button button-stable  button-block">Log in</button>
        <button id="signup-button" class="button button-positive  button-block button-clear" ng-click=switchTo('signup')>Or Sign Up</button>
      </form>
  </div>
  </ion-content>
</ion-view>
