<ion-view title="Signup" id="signup" hide-nav-bar="true">

   <div class="bar bar-header bar-royal">
                <button id="Back-from-signup" class="button button button-energized" ng-click=switchTo('login')>Back</button>
                <h1 class="title">Sign Up</h1>
        </div>


  <ion-content padding="true" class="has-header" ng-controller=signupCtrl>
    <form id="signup-form2" class="list">
      <ion-list id="signup-list2">

        <label class="item item-input" id="signup-input2">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Rush Bee" ng-model=user.name>
        </label>

        <label class="item item-input" id="signup-input3">
          <span class="input-label">Username</span>
          <input type="text" placeholder="rush_bee777" ng-model=user.username>
        </label>

        <label class="item item-input" id="signup-input4">
          <span class="input-label">Date</span>
          <input type="text" placeholder="YYYY-MM-DD" ng-model=user.birthday>
        </label>

        <label class="item item-input" id="signup-input5">
          <span class="input-label">Email</span>
          <input type="text" placeholder="howbout@smth.com" ng-model=user.email>
        </label>

        <label class="item item-input" id="signup-input6">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model=user.password>
        </label>

      </ion-list>

      <label class="item item-input item-select">
        <div class="input-label">Type of Account</div>
        <select id='acc_type'>
            <option selected>User</option>
            <option>Trainer</option>
        </select>
      </label>

      <button id="signup-button3" class="button button-positive button-block" ng-click="signUpProcess()">Sign up</button>
    </form>
  </ion-content>
</ion-view>
