<ion-view title="Signup" id="signup">
  <ion-content padding="true" class="has-header">
    <form id="signup-form2" class="list">
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Cash Ouside" ng-model=user.name>
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="text" placeholder="howbout@smth.com" ng-model=user.email>
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model=user.password>
        </label>
      </ion-list>
      <button id="signup-button3" class="button button-stable button-block" ng-click="signUpProcess()">Sign up</button>
    </form>
  </ion-content>
</ion-view>
