 <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Home" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Workouts" icon="icon ion-ios-body" href="#/tab/workouts">
          <ion-nav-view name="workouts-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Nutrition" icon="icon ion-fork" href="#/tab/nutrition">
          <ion-nav-view name="nutrition-tab"></ion-nav-view>
        </ion-tab>

</ion-tabs>
