<ion-view view-title="Trainee" id="trainee"   hide-nav-bar="true">

       <div class="bar bar-header bar-positive">
                <button id="Logout-button" class="button button-outline button-energized" ng-click=switchTo('login')>Logout</button>
                <h1 class="title">My Trainer</h1>
        </div>
        <div class="bar bar-subheader bar-royal">
                <h2 class="title">Welcome {{visible_user_name}}!</h2>
        </div>

    <ion-content padding="true" class="has-header" ng-controller=TraineeCtrl>
        <form id="trainer-form1" class="list">
            <ion-list id="trainer-list1">
            </ion-list>

            <div class="spacer" style="width: 300px; height: 100px;"></div>

            <div class="card">
                <div class="item item-divider">
                    My Trainer
                </div>
                <div class="item item-text-wrap" ng-click=switchTo('trainer-info')>
                    My Trainer
                </div>
            </div>

            <div class="spacer" style="width: 300px; height: 150px;"></div>
            
           <button id="Workouts-button" class="button button-stable button-block" ng-click=switchTo('workouts')>My workouts</button>
           <button id="Nutrition-button" class="button button-stable button-block" ng-click=switchTo('nutritionplan')>My Nutrition</button>
           <button id="Exercise-button" class="button button-stable button-block" ng-click=switchTo('exerciselookup')>Exercises</button>

        </form>
    </ion-content>
</ion-view>
