<ion-view view-title="My Requests" id="trainer-request" hide-nav-bar="true">

    <div class="bar bar-header bar-positive">
        <button id="Back-button" class="button button-outline button-energized" ng-click="$ionicGoBack()">Back</button>
        <h1 class="title">Trainee Requests</h1>
    </div>

    <ion-content padding="true" class="has-header" ng-controller=TraineeCtrl>
        <form id="trainee-form2" class="list">

                <ion-list show-delete="list"
                          can-swipe="listCanSwipe">

                    <ion-item ng-repeat="item in items"
                              class="item-remove-animate"
                              item="item"
                              href="#/item/{{item.id}}">
                        Trainee {{ item.id }}

                        <button class="icon ion-checkmark-circled button button-balanced button-small" ng-click="onItemAccept(item)">Accept</button>
                        <button class="icon ion-close-circled button button-assertive button-small" ng-click="onItemDelete(item)">Remove</button>

                    </ion-item>
                </ion-list>

        </form>
    </ion-content>
</ion-view>